<h1>Enter details here </h1>

<%= form_with model: @interview, url: interview_path do |form| %>
    <% if flash[:errors] %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
    
    <p>
      <%= form.label :Interviewer_Name%><br>
      <%= form.text_field :interviewer_name %>
    </p>    
    <p>
      <%= form.label :Interviewee_Name%><br>
      <%= form.text_field :interviewee_name %>
    </p>
    <p>
      <%= form.label :Interviewee_Resume%><br>
      <%= form.file_field :resume %>
    </p>
    <p>
      <%= form.label :Interviewer_Email%><br>
      <%= form.text_field :interviewer_email %>
    </p>
    <p>
      <%= form.label :Interviewee_Email%><br>
      <%= form.text_field :interviewee_email %>
    </p>
    <p>
      <%= form.label :Start_Time%><br>
      <%= form.datetime_field :interview_starttime %>
    </p>
    <p>
      <%= form.label :End_Time%><br>
      <%= form.datetime_field :interview_endtime %>
    </p>
    <div class="actions">
        <%= form.submit %>
    </div>
    <%= link_to 'Show', @interview %> |
    <%= link_to 'Back', interviews_path %>
    <% end %>